
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 
html,body{
   width: 100vw;
   height: 100vh;
   overflow-y: auto;
   
}  
.container{
   width: 85%;
   margin: 0 auto;
   margin-left:60px;
} 
.logo img{
   width: 69px;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px ;
} 
.right-items{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   font-size: 18px;
   font-weight: 500;
   font-family: monospace sans-serif;
   
} 
a{
  color: black;
  text-decoration: none;
} 
.main-section{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 38px;
   margin: 0 auto;
}
.Images{
   width: 350px;
}  
.right-side video{
   width: 500px;
   border: none;
}
.img-fluid{
  background-color: white;
} 
.heading1{ 
   font-size: 30px; 
} 
.heading2{
    font-size: 60px;
    color: rgb(65, 65, 235);
    margin: 0 0 15px 0;
}
.para{
   color: rgb(65, 65, 235);
   font-size: 20px;
   font-weight: 300;
   margin-bottom: 15px;
} 
.para2{
    font-size: 19.5px;
    margin: 18px 0 30px 0;
    color: rgb(97, 95, 95);
    font-family: monospace sans-serif;
} 
.left-side{
    padding-left: 20px;
    margin-left: 23px;
} 
.btn{
    padding: 0.4rem 0.8rem;
    background-color:rgb(65, 65, 235);
    color: white;
    border: 1px solid blue ;
    font-size: 15px;
    font-weight: 400;
    border-radius: 6px;
}  
.btn a{
    color: white;
    margin-left: 10px;  
}  
@media (max-width:550px) {

   .main-section{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 50px;

   } 
   .left-side{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       margin-right: 30px;
       overflow-x: hidden;
       overflow-y: auto;
   }
   .right-items{
       display: block;
        
   } 
   .items{
        margin-bottom: 10px;
   }
   .items:hover{
       background-color: rgb(58, 130, 130);
       padding: 0.1rem 0.2rem;
   } 
   a:hover{
       color: white;
   }
   
} 

